


#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading {
  z-index: 9999; /* Adjust as needed */
  /* Other styles... */
}





 /* Basic styling for the navigation bar */
ul.nav {
    display: flex;
    list-style: none;
    color: white;
    margin-bottom: 30px;
    justify-content: center;
}

        li.nav-item {
            margin-right: 42px;
            border-bottom: 2px solid transparent;
            font-family: sans-serif; /* Sans-serif font */
            transition: border-color 0.3s; /* Smooth animation */
        }
        li.nav-item.active {
            border-bottom-color: gold;
            margin-bottom: -4px; /* Extend the underline down */
            font-weight: bold; /* Bold font */
        }





body, html {

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Vazirmatn", sans-serif;
    background-image: url('bg.svg');
    background-color: #1E1E1E;  Dark gray background
    background-repeat: repeat;
	
    color: #000; /* Black font color */
/* disable horizontal scroll */
    max-width: 100%;
    overflow-x: hidden;

  }
  .header {
    background-color: rgb(118, 246, 52 / 80%);

    padding-block: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: padding 0.3s;
    backdrop-filter: blur(10px); /* Increased blur effect */
  }
  .logo {
    display: flex; 
    margin: auto;
  /*  margin-left: 9rem;  */
   /*  border-radius: 50%;  */
    width: 80px;
 /*    height: 80px; */
  }
  .description {
    text-align: center;
    padding: 50px 20px 0; /* Reduced top padding */
    color: #fff; /* Description text color changed to white */
    position: relative; /* Ensure it's visible under the header */
 /*   padding-top: 80px;  Add space for the fixed header */
  }
  .back-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
font-size:24px;
color:white;
  }
  .search-box {
    border-radius: 10px;
        padding: 10px 20px;
        margin: 0 auto 20px;
        width: 80%;
        background-color: #252525;
    /*    box-shadow: inset 1px 1px 8px 20px #251a1a; */
        border-style: none;
        color: white;
  }


.clear-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
}



  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Changed to space-around for even spacing */
    padding: 20px; /* Reduced padding */

  }
  .card {
/*     flex-basis: calc(50% - 20px);   Adjusted for two cards per row */
    border-radius: 15px;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s;
    opacity: 1; /* 80% transparency */
  /*  margin-bottom: 20px;  Added space between rows */
    margin: 10px;
    color: #3B3B3B; /* Black font color */
   /*  border: 1px solid #ddd; Border added back */
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .card-header {
    background-color: #3B3B3B;
    padding: 10px;
    text-align: center; /* Centered card name */
color: white;
background-color: #3B3B3B;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='46' height='46' fill-opacity='0.02' fill='%23000000'/%3E%3C/svg%3E");


  }
  .card-logo {
 /*    width: 100%; Full width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    background-color: #3B3B3B;
    display: block; /* Ensures no inline spacing */
    margin: 0 auto 10px; /* Centered logo */

    width: 180px;
  }
  .card-name {
    font-weight: bold;
    display: block; /* Ensures no inline spacing */
    margin-bottom: 10px; /* Space below the name */
  }
  .card-info {
    padding: 10px;
    background-color: #333333;
    font-size: 0.8em; /* Smaller font size for total players */
    color: white;
  }
.status-light {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  animation: smoothBlinker 1s ease-in-out infinite;
}

@keyframes smoothBlinker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .gray {
    background-color: gray;
  }
  .to-top {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 20px;
    cursor: pointer;
    background-color: #252525;
    border-radius: 50rem;
	  
    padding-right: 0.8rem;
    padding-left: 0.8rem;
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;

  }

  /* Responsive adjustments for mobile view */
  @media (max-width: 600px) {
    .card-container {
      padding: 10px; /* Reduced padding for mobile */
    }
    .card {
   /*   flex-basis: 100%;  Full width cards on mobile */
      margin-bottom: 10px; /* Reduced space between cards */
      flex-basis: calc(50% - 20px); /* two cards in a row for mobile */
    }
    .card-logo {
      width: 120px; /* Fixed width to prevent deformation */
      height: 120px; /* Fixed height to maintain aspect ratio */
      object-fit: cover; /* Ensures the image doesn't get distorted */
    }



	.card {
 	 position: relative; 
	}

	.icon {
	 position: absolute;
 	 top: 10px;
 	 right: 20px; 
  	 width: 20px; 
  	 height: 20px; 
 	 background-image: url('icon-path.png');
 	 background-size: cover;
}
  }


  @media (min-width: 600px) {

	 .icon {
	height: 0px;
 	 background-image: url('icon-path.png');
 	 background-size: cover;
	 }

    
    
  }
